:root {
  --clr-ascent-400: hsl(49 16% 48%);
  --clr-ascent-200: hsl(40 33% 82%);
  --clr-ascent-600: hsl(21 29% 46%);
  --clr-ascent-300: hsl(33 21% 63%);
  --clr-ascent-850: hsl(52 17% 17%);

  --clr-primary-800: hsl(29 42% 14%);
  --clr-secondary-900: hsl(120 13% 10%);

  --ff-ascent: "Suwannaphum", serif;
  --ff-base: "Inter", sans-serif;

  --spacing-general: 0.5rem;
  --pill-border: 50rem;
  --border-radius: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: var(--spacing-general);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--clr-secondary-900);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-ascent-200);
  border-radius: var(--pill-border);
  padding: 0.125rem;
  margin-block-end: var(--spacing-general);
}

.nav-container-left {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70%;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-ascent-200);
}

.nav-title {
  background-color: var(--clr-ascent-850);
  text-align: center;
  padding-block: 0.5rem;
  border-radius: var(--pill-border);
}

.button {
  width: 30%;
  border: 1px solid var(--clr-ascent-200);
  border-radius: 50rem;
  background-color: transparent;
  color: var(--clr-ascent-200);
  padding-block: 0.5rem;
}

.main-wrapper {
  display: grid;
  row-gap: var(--spacing-general);
}

.main-wrapper > * {
  border: 1px solid orange;
}

.card {
  display: grid;
  padding: 1.25rem 0.5rem 0 0.5rem;
  gap: 1rem;
}

.art-portrait {
  background-color: var(--clr-ascent-200);
  border-radius: var(--border-radius);
}

.art-source {
  width: max-content;
  text-transform: uppercase;
  border: 2px solid var(--clr-primary-800);
  border-radius: var(--pill-border);
  padding-inline: 0.25rem;
  margin-inline-start: 1rem;
  color: var(--clr-primary-800);
}

.art-title {
  font-family: var(--ff-ascent);
  margin-inline-start: 1rem;
  color: var(--clr-primary-800);
}

.underline-text {
  text-decoration: underline;
}

.art-image-portrait-container {
  height: 90%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow-x: hidden;
}

.art-image-portrait {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.art-get-started {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--clr-primary-800);
  padding: 1rem 2rem;
  color: var(--clr-primary-800);
  text-transform: uppercase;
  font-weight: bold;
}

.art-get-started::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url(assets/icons/arrow-right.svg);
}
